/*Checkbox dashboard activity*/
input:checked + svg {
  display: block;
}

/*Card shadow*/
.card-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/*Slider*/

.owl-stage-outer {
  padding-bottom: 30px !important;
  overflow: visible !important;
}

.owl-carousel {
  padding-bottom: 140px;
}

.profile-img__dropdown {
  width: 40px !important;
}

/*Animations*/
.stats-bar-green {
    width: 0px;
    animation: green-bar 1s ease forwards;
    animation-delay: 0.5s;
  }
  
  @keyframes green-bar {
    
    from { width: 0%; }
    to { width: 250px; } 
  }
  
  .number-green {
    opacity: 0;
    animation: number-yellow 0.5s ease-in forwards;
    animation-delay: 2s;
  }
  
  @keyframes number-green {
    0% { opacity: 0; }
    100% { opacity: 1; } 
  }
  
  .stats-bar-yellow {
    width: 0px;
  
    animation: yellow-bar 1s ease forwards;
    animation-delay: 1s;
  }
  
  @keyframes yellow-bar {
    from { width: 0%; }
    to { width: 150px; } 
  }
  
  .number-yellow {
    opacity: 0;
    animation: number-yellow 0.5s ease-in forwards;
    animation-delay: 2.2s;
  }
  
  @keyframes number-yellow {
    0% { opacity: 0; }
    100% { opacity: 1; } 
  }
  
  .stats-bar-red {
    width: 0px;
  
    animation: red-bar 1s ease forwards;
    animation-delay: 1.5s;
  }
  
  @keyframes red-bar {
    from { width: 0%; }
    to { width: 80px; } 
  }
  
  .number-red {
    opacity: 0;
    animation: number-red 0.5s ease-in forwards;
    animation-delay: 2.4s;
  }
  
  @keyframes number-red {
    0% { opacity: 0; }
    100% { opacity: 1; } 
  }

  
/* Showing scroll only on hover of the content */
.scroll {
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  -webkit-mask-image: linear-gradient(to top, transparent, black),
    linear-gradient(to left, transparent 17px, black 17px);
  -webkit-mask-size: 100% 20000px;
  -webkit-mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.scroll:hover {
  -webkit-mask-position: left top;
}

/* Styling scroll */
.scroll::-webkit-scrollbar-track,
.sidebar::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb,
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c9c8c8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-hidden;
    font-family: "Courier New"
  }
}